* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100%;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
b,
i {
  font-style: normal;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.Tb_container {
  display: flex;
}
.nav {
  background: #001529;
  z-index: 9;
  overflow-x: auto;
  width: 200px;
}
nav ul li {
  font-size: 16px;
  line-height: 76px;
  background: #001529;
  padding-left: 10%;
  /* display: flex; */
  align-items: center;
  overflow: hidden;
}
nav li a,
li span {
  color: #fff;
}
nav li img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
nav li section{
  padding-left:10px;
 
}
nav li p{
  font-size:12px;
  color: #666;
  line-height: 30px;
  
}
nav li .p-min{
  font-size:16px;
  color: #666;
  line-height: 60px;
}