*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
b,
i {
  font-style: normal;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.nav{
	position: fixed;
	float: left;
	background-color: #fff;
	z-index: 9;
	overflow-x:auto;
	width:13%;
}
nav ul li{
	font-size: 16px;
	line-height:76px;
	background: #001529;
	padding-left: 10%;
}
nav li a , li span{
	color: #fff;
}
nav li img{
	width: 18px;
	height:18px;
	margin-right:8px;
}