* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100%;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
b,
i {
  font-style: normal;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.Tb_container {
  display: flex;
} 
.Tb_container>div {
  width: 100%;
}
.nav {
  float: left;
  background-color: #fff;
  z-index: 9;
  overflow-x: auto;
  width: 200px;
  background: #001529;
  height: 1000px;
}
nav ul li {
  font-size: 16px;
  line-height: 76px;
  padding-left: 10%;
  display: flex;
  align-items: center;
}
nav li a,
li span {
  color: #fff;
}
nav li img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
