.Tb_home {
  width: 100%;
  height: 100vh;
}
.Tb_home_cont_bg {
  width: 100%;
  background-color: rgba(240, 242, 245, 1);
  padding: 20px;
  box-sizing: border-box;
}
.Tb_home_cont {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.Tb_home_top {
  display: flex;
  height: 150px;
}
.Tb_home_bottom {
  width: 100%;
}
.Tb_home_bottom_cont {
  display: flex;
}
.Tb_home_bottom_contL,
.Tb_home_bottom_contR {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.Tb_home_bottom_contL {
  margin-right: 10px;
  width: 68%;
}
.Tb_home_bottom_contR {
  width: 40%;
}
.today_t {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(100, 100, 233)
}
.today_t .todayTime {
  padding: 0 50px 0 10px;
}
.todayHuiyi {
  font-size: 12px;
  line-height: 30px;
  color: #333;
}
.todayHuiyi .todayHYfirst {
  padding: 0 50px 0 10px;
}
.todayImg {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.todayImg img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}
.todayHuiyi2 {
  font-size: 14px;
  line-height: 30px;
  color: #111;
}
.todayHuiyi2 .todayHYfirst {
  width: 100px;
  display: inline-block;
}