.Gr_pillar_con{
    display: flex;
    width:380px;
    height:264px;
    margin:0 auto;
    position: absolute;
    right: 0;
    top: 360px;
}
.Gr_pillar_bar{
    width:42px;
    margin-right:14px;
    background:rgb(0, 0, 0,.9);
    padding:10px 0 0 12px;
    box-sizing: border-box;
}
.Gr_pillar_bar p{
    color:#fff;
    font-size:15px;
    width:16px;
    height:150px;
    padding-top:4px;
    box-sizing: border-box;
    border-top:8px solid #0fc;
}
.Gr_pillar{
    flex: 1;
}