*{
    margin: 0;padding: 0;
}
.Zjt_shiba_t{
    margin-bottom: 40px;
}
.Zjt_shiba{
    background-color: rgba(240, 242, 245, 1);
    width: 100%;
}
.Zjt_shiba_con{
    width: 1149px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: auto;
    background: white;
}
.Zjt_tit{
    font-size: 16px;
    border-left: 5px solid rgb(120, 101, 228);
    padding: 0 15px;
}
.Zjt-top{
    margin-bottom: 20px;
}
.Zjt_cont{
    overflow: hidden;
}
.item{
    float: left;
    width: 24%;
    margin: 5.7px;
    box-sizing: border-box;
}