
.Dfw-contina{
    background-color: rgba(240, 242, 245, 1);
    height:100%;
}
.Dfw-confie{
    height: 97%;
    margin: 20px 20px 0 20px;
    background: #fff;
    box-sizing: border-box;
}
.Dfw-Dene{
   line-height: 30px;
   padding-left:20px;
   margin-top:40px;
}
.Dfw-contina{
   flex: 1;
}
.Dfw-cont{
    font-size: 14px;
    color: #ccc;
}
.Dfw-Dene:hover .Dfw-list{
    color: cornflowerblue;
}
.Dfw-zimg{
    width: 8px;
    height: 10px;
    transform: rotate(180deg);
    margin:0 4px;
    margin-top: 16px;
}